.fromContainer {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0;
    margin-top: 10rem;
    border-radius: 10px;
}
.formControl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
}
.formControl input {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px 5px;
}
.formControl input:focus {
    border: 1px solid #7c3aed;
}
form button {
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    background-color: #7c3aed;
    border-radius: 5px;
}
form button:hover {
    background-color: #6a1eee;
    padding: 5px 12px;
}
.inner-contact p {
    padding: 12px;
}